### íŒŒì´ì¬ìœ¼ë¡œ DB ë‹¤ë£¨ê¸°
---

### Python DB API
- mkdir -p ~/aiffel/sql_to_db/sqlite

In [1]:
import sqlite3
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [2]:
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°
print(conn)

<sqlite3.Connection object at 0x7f7d184a3490>

In [3]:
# ê²°ê³¼ë¥¼ ì¡°íšŒí•˜ëŠ” SELECTì—ì„œëŠ” ê±°ì˜ í•„ìˆ˜ cursor
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7f7d184832d0>

In [4]:
# stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±í•©ë‹ˆë‹¤. í˜¹ì‹œ ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµí•©ë‹ˆë‹¤. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸í•©ë‹ˆë‹¤. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ë´…ë‹ˆë‹¤.
c.execute("SELECT * FROM stocks")

# ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥í•´ ë´…ë‹ˆë‹¤.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

### sqlite DB Browser
- sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser
- sudo apt-get update
- sudo apt-get install sqlitebrowser

In [5]:
conn.commit()   # commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤. 
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [6]:
c.close()      # ë¨¼ì € ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()    # DB ì—°ê²°ì„ ë‹«ì•„ ì¤ë‹ˆë‹¤.
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

### DDLë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±í•˜ê¸°

In [7]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›Œì¤ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#----- 1st table : ë„ì„œëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸ : í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥ (ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")

data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [8]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

('aaa', 'ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„')
('bbb', 'ì¢€ë¹„ì•„ì´')
('ccc', 'ê³µë£¡ë°±ê³¼ì‚¬ì „')
('ddd', 'ë¹¨ê°„êµ¬ë‘')
('eee', 'ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')

### ì¿¼ë¦¬ì˜ ê¸°ë³¸ êµ¬ì¡°
- SELECT ~ : ì¡°íšŒí•  ì»¬ëŸ¼ëª…ì„ ì„ íƒ
- FROM ~ : ì¡°íšŒí•  í…Œì´ë¸”ëª…ì„ ì§€ì • (ìœ„ì¹˜ì™€ í…Œì´ë¸”ëª…ì„ ì…ë ¥)
- WHERE ~ : ì§ˆì˜í•  ë•Œ í•„ìš”í•œ ì¡°ê±´ì„ ì„¤ì •
- GROUP BY ~ : íŠ¹ì • ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹ì„ ì§€ì–´ ì¶œë ¥
- ORDER BY ~ : SELECT ë‹¤ìŒì— ì˜¤ëŠ” ì»¬ëŸ¼ ì¤‘ ì •ë ¬ì´ í•„ìš”í•œ ë¶€ë¶„ì„ ì •ë ¬ (ê¸°ë³¸ ì„¤ì • : ì˜¤ë¦„ì°¨ìˆœ)
- LIMIT ìˆ«ì : Displayí•˜ê³ ì í•˜ëŠ” í–‰ì˜ ìˆ˜ë¥¼ ì„¤ì •
- DISTICT ì»¬ëŸ¼ëª… : ì¤‘ë³µ ì œê±°
- ORDER BY ì»¬ëŸ¼ : ì°¨ìˆœìœ¼ë¡œ ì •ë ¬(ê¸°ë³¸ asc ì˜¤ë¦„ì°¨ìˆœ)
![ì •ë ¬](https://aiffelstaticprd.blob.core.windows.net/media/images/Untitled_15_2gRlUx0.max-800x600.png)

In [9]:
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ì‹œë©´ ë©ë‹ˆë‹¤.

import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
  print(row)

#- ! ì¶œë ¥ ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

('101', 'ë¬¸ê°•íƒœ', 'aaa', '2020-06-01', '2020-06-05')
('101', 'ë¬¸ê°•íƒœ', 'ccc', '2020-06-20', '2020-06-25')
('102', 'ê³ ë¬¸ì˜', 'bbb', '2020-06-01', None)
('102', 'ê³ ë¬¸ì˜', 'ddd', '2020-06-08', None)
('103', 'ë¬¸ìƒíƒœ', 'ccc', '2020-06-01', '2020-06-05')
('104', 'ê°•ê¸°ë‘¥', None, None, None)

In [10]:
# pragma table_infoë¡œ ë°ì´í„°íƒ€ì… í™•ì¸ 
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­)'):
  print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, 'ì´ë¦„', 'varchar', 0, None, 0)
(2, 'ë„ì„œID', 'varchar', 0, None, 0)
(3, 'ëŒ€ì¶œì¼', 'varchar', 0, None, 0)
(4, 'ë°˜ë‚©ì¼', 'varchar', 0, None, 0)

#### - substrì„ í†µí•´ ì¼ì„ ëº€ ë‚˜ë¨¸ì§€ë¥¼ ì¶”ì¶œ   
SELECT *, SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2;   
#### - ì¶”ì¶œí•œ ì¼ìˆ˜ë¥¼ intê°’ìœ¼ë¡œ ë°ì´í„°íƒ€ì… ë³€ê²½  
SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 ;
#### - ë‹¤ì–‘í•œ ì¡°ê±´ì„ ì¤„ ìˆ˜ ìˆìŒ
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 WHERE 
        ì¡°ê±´1 
AND ì¡°ê±´2 
AND ì¡°ê±´3 
AND (ì¡°ê±´ 4 OR ì¡°ê±´5);

#### 1. íŠ¹ì • ë¬¸ìë¥¼ í¬í•¨í•˜ëŠ” rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 
WHERE ì´ë¦„ LIKE "ë¬¸%" ;
#### 2. íŠ¹ì • ê¸°ê°„ í˜¹ì€ íŠ¹ì • ë‚ ì§œì˜ ì´ì „ ë˜ëŠ” ì´í›„ì˜ rowë¥¼ ê°€ì ¸ì˜¤ê³  ì‹¶ì„ ë•Œ
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE 
        ëŒ€ì¶œì¼ >= "2020-06-01" 
AND ëŒ€ì¶œì¼ <= "2020-06-07" ;
   
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE 
        ëŒ€ì¶œì¼ BETWEEN "2020-06-01" AND "2020-06-07" ;
        
   SELECT *
, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 
WHERE 
        ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 ;
#### 3. Null ì¡°ê±´ ë‹¤ë£¨ê¸°
SELECT * FROM ë„ì„œëŒ€ì¶œë‚´ì—­
WHERE ë°˜ë‚©ì¼ IS NOT NULL;

### JOIN
![join](https://aiffelstaticprd.blob.core.windows.net/media/images/Untitled_21_ns7QjSV.max-800x600.png)

- INNER JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸”ì˜ êµì§‘í•©ì„ ì¡°íšŒ
- LEFT JOIN : (ê¸°ì¤€ì€ A í…Œì´ë¸”) A í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ B í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- RIGHT JOIN : (ê¸°ì¤€ì€ B í…Œì´ë¸”) B í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ A í…Œì´ë¸”ì€ ê³µí†µë˜ëŠ” ë¶€ë¶„ë§Œ ì¡°íšŒ
- FULL JOIN : A í…Œì´ë¸”ê³¼ B í…Œì´ë¸” ëª¨ë‘ì—ì„œ ë¹ íŠ¸ë¦¬ëŠ” ë¶€ë¶„ ì—†ì´ ëª¨ë‘ ì¡°íšŒ

#### JOIN ê¸°ë³¸ êµ¬ë¬¸
SELECT ì»¬ëŸ¼1, ì»¬ëŸ¼2, ì»¬ëŸ¼3... FROM Aí…Œì´ë¸” AS A
{INNER/LEFT/RIGHT/FULL OUTER} JOIN Bí…Œì´ë¸” AS B 
ON A.ê²°í•©ì»¬ëŸ¼ = B.ê²°í•©ì»¬ëŸ¼
WHERE ~

1) INNER JOIN   
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
INNER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
![inner](https://aiffelstaticprd.blob.core.windows.net/media/original_images/Untitled_24_cM7OvJd.png)

2) LEFT JOIN   
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
LEFT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
![left](https://aiffelstaticprd.blob.core.windows.net/media/original_images/Untitled_25_VizrJfJ.png)

3) RIGHT JOIN   
SELECT B.*, A.ID, A.ì´ë¦„ 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
RIGHT JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
![right](https://aiffelstaticprd.blob.core.windows.net/media/original_images/Untitled_26_SpMa9st.png)

4) FULL OUTER JOIN   
SELECT A.*, B.ë„ì„œëª… 
FROM ëŒ€ì¶œë‚´ì—­ AS A 
FULL OUTER JOIN ë„ì„œëª… AS B
ON A.ë„ì„œID = B.ë„ì„œID
ORDER BY ë„ì„œID ;
![Full](https://aiffelstaticprd.blob.core.windows.net/media/original_images/Untitled_27_2Y2zQ6V.png)

5) ì¤‘ì²© ì§ˆì˜(Nested Query)   
SELECT C.ì´ë¦„, COUNT(*) ëŒ€ì¶œê±´ìˆ˜   
FROM (
    SELECT A.*, B.ë„ì„œëª… 
    FROM ëŒ€ì¶œë‚´ì—­ AS A 
    LEFT JOIN ë„ì„œëª… AS B
    ON A.ë„ì„œID = B.ë„ì„œID ) C
GROUP BY C.ì´ë¦„

6) ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ IFNULL - ê°’1ì´ Nullì´ë©´ ê°’2   
SELECT A.*, IFNULL(B.ë„ì„œëª…, 'ë„ì„œëª…ë¯¸ìƒ') AS ë„ì„œëª…
    FROM ëŒ€ì¶œë‚´ì—­ AS A 
    LEFT JOIN ë„ì„œëª… AS B
    ON A.ë„ì„œID = B.ë„ì„œID

7) ì¿¼ë¦¬ì˜ ì¡°ê±´ì ˆ CASE   
SELECT ì´ë¦„, CASE WHEN ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • > 5 THEN 'ê¸°ê°„ì´ˆê³¼' ELSE 'ê¸°ê°„ë‚´' END AS ëŒ€ì¶œê¸°ê°„   
FROM (SELECT *, CAST(SUBSTR(ëŒ€ì¶œì¼ìˆ˜, 1, (length(ëŒ€ì¶œì¼ìˆ˜)-1)) AS INT) AS ëŒ€ì¶œì¼ìˆ˜_ìˆ˜ì • 
FROM ë„ì„œëŒ€ì¶œë‚´ì—­2 )

#### Q5. 'ë„ì„œëª…' í…Œì´ë¸”ê³¼ 'ë„ì„œëŒ€ì¶œë‚´ì—­' í…Œì´ë¸”ì„ ë„ì„œIDë¥¼ keyë¡œ í•˜ì—¬ LEFT  JOINí•´ì„œ |ë„ì„œID|ë„ì„œëª…|ëŒ€ì¶œê±´ìˆ˜|ëŒ€ì¶œìƒíƒœ| í•­ëª©ì„ ì¶œë ¥í•˜ëŠ” ì¿¼ë¦¬ë¥¼ ì‘ì„±



ëŒ€ì¶œê±´ìˆ˜ : ë„ì„œë³„ë¡œ ë„ì„œëŒ€ì¶œë‚´ì—­ í…Œì´ë¸”ì— ëŒ€ì¶œì¼ìê°€ ìˆìœ¼ë©´ ëŒ€ì¶œê±´ìˆ˜ 1ë¡œ ë³¸ë‹¤. ì—¬ëŸ¬ ë²ˆ ëŒ€ì¶œë˜ì—ˆìœ¼ë©´ ëŒ€ì¶œëœ íšŒìˆ˜ë§Œí¼ í•©ì‚°ëœë‹¤. 

ëŒ€ì¶œìƒíƒœ : ëŒ€ì¶œì¼ìëŠ” NOT NULLì¸ë° ë°˜ë‚©ì¼ìê°€ NULLì¸ ë„ì„œëŒ€ì¶œë‚´ì—­ì´ ìˆìœ¼ë©´ 'ëŒ€ì¶œì¤‘', ê·¸ë ‡ì§€ ì•Šê³  ëª¨ë“  ëŒ€ì¶œë‚´ì—­ì— ë°˜ë‚©ì¼ìê°€ ëª…ì‹œë˜ì–´ ìˆìœ¼ë©´  'ë³´ê´€ì¤‘'ìœ¼ë¡œ ë³¸ë‹¤.

SELECT C.ë„ì„œID, C.ë„ì„œëª…, SUM(C.ëŒ€ì¶œê±´ìˆ˜) AS ëŒ€ì¶œê±´ìˆ˜, 
 CASE SUM(C.ëŒ€ì¶œê±´ìˆ˜)-SUM(C.ë°˜ë‚©ê±´ìˆ˜) WHEN 0 THEN 'ë³´ê´€ì¤‘' ELSE 'ëŒ€ì¶œì¤‘' END AS ëŒ€ì¶œìƒíƒœ   
FROM (
    SELECT A.ë„ì„œID, A.ë„ì„œëª…, 
     CASE WHEN B.ëŒ€ì¶œì¼ IS NULL THEN 0 ELSE 1 END AS ëŒ€ì¶œê±´ìˆ˜,
     CASE WHEN B.ë°˜ë‚©ì¼ IS NULL THEN 0 ELSE 1 END AS ë°˜ë‚©ê±´ìˆ˜
    FROM ë„ì„œëª… AS A 
    LEFT JOIN ë„ì„œëŒ€ì¶œë‚´ì—­ AS B
    ON A.ë„ì„œID = B.ë„ì„œID ) AS C   
GROUP BY C.ë„ì„œID, C.ë„ì„œëª… ;